*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#app {
    height: 100%;
    background-color: #009687;
    background-image: linear-gradient(to bottom, #009687 0px, #009687 100px, #D7D8D3 20px, #D7D8D3 200px);
    padding: 20px;
}


.profile img {
    width: 50px;
}


.bg-image {
    background-image: url("../img/mine.jpg");
    background-repeat: repeat; 
    height: 548px;
}


/*UTILITIES*/
.bg-grey {
    background-color: #E5E6E8;
}

.bg-azure {
    background-color: #8DD7FA;  
}

.bg-white{
    background-color: white;
}
.text_azure {
    color: #8DD7FA
}

.fs_8{
    font-size: 9px; 
}
.fs_10 {
    font-size: 10px;
}

.fs_12{
    font-size: 12px; 
}
.fs_14 {
    font-size: 14px;
}

.fs_16{
    font-size:16px
}